body{
  width:auto;
  height: auto;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 0px 100px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
}

.header {
    width: 100%;
    height: 80px;
    /* padding: 10px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
}

.title {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
}

.nav ul li {
    padding-top: 25px;
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
}

.text {
    padding: 10px;
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'Patua One', cursive;
}
@media (max-width: 3000px){
  .container{
    margin-top:200px;
  }
}

@media (max-width: 1200px){
  .container{
    margin-top:120px;
  }
}

@media (max-width: 800px){
  .container{
    margin-top:900px;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.show {
  display: block;
}

.modal_body {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 30%;
  height: auto;
  padding-top: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.3);
  transform: translateX(-50%) translateY(-50%);
}

.content p {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: 'Do Hyeon', sans-serif;
}

.title h1 {
  padding: 0px;
  margin-bottom: 15px;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-family: 'Do Hyeon', sans-serif;
}
