<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>#Whatsagram</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&family=Pacifico&family=Patua+One&display=swap"
          rel="stylesheet">
    <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static',filename='css/show_style.css')}}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <header>
        <!-- Navigation-->
        <div class="header">
            <a href="http://localhost:5000/" onclick="location.href='main_semi.html'"><span class="title"
                                                                                            style="font-size:3em">#</span>
                <span class="title" style="font-size:2em">Whatstagram</span></a>
            <div class="nav">
                <ul>
                    <li class="text"><a href="http://localhost:5000/" onclick="location.href='main_semi.html'">HOME</a>
                    </li>
                    <li class="text"><a href="#" onclick="modalBrowse()">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- Header-->
    <div class="section_slide">
        <input type="radio" name="slide" id="slide01" checked>
        <input type="radio" name="slide" id="slide02">
        <input type="radio" name="slide" id="slide03">
        <input type="radio" name="slide" id="slide04">
        <div class="bg-dark py-100 slidewrap">
            <ul class="slidelist" style="position:relative">
                <li>
                    <!--profile-->
                    <div class="container">
                        <div class="row gx-5 align-items-center justify-content-center">
                            <div class="col-lg-8 col-xl-7 col-xxl-6">
                                <div class="my-5 text-center text-xl-start">
                                    <h1 class="display-1 fw-bolder text-white mb-5">@{{id}}</h1>
                                    <p class="fs-1 lead fw-normal text-white-50 mb-4">{{tagList[0]}} {{tagList[1]}} <br>
                                        {{tagList[2]}} {{tagList[3]}}</p>
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                        <!-- <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                                          <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-auto d-xl-block text-center">
                                <div class="profile_main_box">
                                    <img class="card-img" src="{{url_for('static',filename='img/rainbow.png')}}"
                                         alt="..."/>
                                    <img class="rounded-circle" src="{{url_for('static',filename=profile)}}"
                                         alt="..."/></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>

                    <div class="container">
                        <!-- <h1 class="display-4 fw-bolder text-center text-white mb-3">Relative Feed</h1> -->
                        <div class=" align-items-center justify-content-center w-100 shadow border-1 rounded-3"
                             style="background-color: rgba(1, 1, 1, 0.25);display:flex;flex-direction:row;">

                            {% if imgList[0] != "" %}
                            <div class="col-xxl-auto"><img
                                    class="img-fluid rounded-3" src="{{url_for('static',filename=imgList[0])}}"
                                    alt="..."/></div>
                            {% endif %}

                            <div class="w-100">
                                <div class="my-5 text-center">
                                    {% if tagList[0] != "" %}
                                    {% if tagList[0] | length > 20 %}
                                    <h1 class="display-7 fw-bolder text-white mb-5" style="padding-top:100px;">
                                        {{tagList[0]}}
                                    </h1>
                                    {% elif tagList[0] | length > 9 %}
                                    <h1 class="display-4 fw-bolder text-white mb-5" style="padding-top:100px;">
                                        {{tagList[0]}}
                                    </h1>
                                    {% else %}
                                    <h1 class="display-1 fw-bolder text-white mb-5" style="padding-top:100px;">
                                        {{tagList[0]}}
                                    </h1>
                                    {% endif %}
                                    {% else %}
                                    <h1 class="display-1 fw-bolder text-white mb-5" style="padding-top:100px;">
                                        태그가 없습니다
                                    </h1>
                                    {% endif %}

                                    <h1 class="display-7 fw-bolder mb-4" style="color:#797979; !important;">
                                        {% if freqList[0] != -1 %}
                                        {{freqList[0]}}회 사용됨
                                        {% endif %}
                                    </h1>
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center"
                                         style="padding-top: 50px;">
                                        {% if tagList[1] != "" %}
                                        <a class="btn btn-outline-light btn-lg px-4"
                                           href="https://www.instagram.com/explore/tags/{{tagList[0][1:]}}"
                                           target="_blank">Learn More</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="container">
                        <!-- <h1 class="display-4 fw-bolder text-center text-white mb-3">Relative Feed</h1> -->
                        <div class=" align-items-center justify-content-center w-100 shadow border-1 rounded-3"
                             style="background-color: rgba(1, 1, 1, 0.25);display:flex;flex-direction:row;">

                            {% if imgList[1] != "" %}
                            <div class="col-xxl-auto"><img
                                    class="img-fluid rounded-3" src="{{url_for('static',filename=imgList[1])}}"
                                    alt="..."/></div>
                            {% endif %}

                            <div class="w-100">
                                <div class="my-5 text-center">
                                    {% if tagList[1] != "" %}
                                    {% if tagList[1] | length > 20 %}
                                    <h1 class="display-7 fw-bolder text-white mb-5" style="padding-top:100px;">
                                        {{tagList[1]}}
                                    </h1>
                                    {% elif tagList[1] | length > 9 %}
                                    <h1 class="display-4 fw-bolder text-white mb-5" style="padding-top:100px;">
                                        {{tagList[1]}}
                                    </h1>
                                    {% else %}
                                    <h1 class="display-1 fw-bolder text-white mb-5" style="padding-top:100px;">
                                        {{tagList[1]}}
                                    </h1>
                                    {% endif %}
                                    {% else %}
                                    <h1 class="display-1 fw-bolder text-white mb-5" style="padding-top:100px;">
                                        태그가 없습니다
                                    </h1>
                                    {% endif %}
                                    </h1>
                                    <h1 class="display-7 fw-bolder mb-4" style="color:#797979; !important;">
                                        {% if freqList[1] != -1 %}
                                        {{freqList[1]}}회 사용됨
                                        {% endif %}
                                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center"
                                             style="padding-top: 50px;">
                                            {% if tagList[1] != "" %}
                                            <a class="btn btn-outline-light btn-lg px-4"
                                               href="https://www.instagram.com/explore/tags/{{tagList[1][1:]}}"
                                               target="_blank">Learn More</a>
                                            {% endif %}
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container">
                        <!-- <h1 class="display-4 fw-bolder text-center text-white mb-3">Relative Feed</h1> -->
                        <div class=" align-items-center justify-content-center w-100 shadow border-1 rounded-3"
                             style="background-color: rgba(1, 1, 1, 0.25);display:flex;flex-direction:row;">

                            {% if imgList[2] != "" %}
                            <div class="col-xxl-auto"><img
                                    class="img-fluid rounded-3" src="{{url_for('static',filename=imgList[2])}}"
                                    alt="..."/></div>
                            {% endif %}

                            <div class="w-100">
                                <div class="my-5 text-center">
                                    {% if tagList[2] != "" %}
                                    {% if tagList[2] | length > 20 %}
                                    <h1 class="display-7 fw-bolder text-white mb-5" style="padding-top:100px;">
                                        {{tagList[2]}}
                                    </h1>
                                    {% elif tagList[2] | length > 9 %}
                                    <h1 class="display-4 fw-bolder text-white mb-5" style="padding-top:100px;">
                                        {{tagList[2]}}
                                    </h1>
                                    {% else %}
                                    <h1 class="display-1 fw-bolder text-white mb-5" style="padding-top:100px;">
                                        {{tagList[2]}}
                                    </h1>
                                    {% endif %}
                                    {% else %}
                                    <h1 class="display-1 fw-bolder text-white mb-5" style="padding-top:100px;">
                                        태그가 없습니다
                                    </h1>
                                    {% endif %}
                                    <h1 class="display-7 fw-bolder mb-4" style="color:#797979; !important;">
                                        {% if freqList[2] != -1 %}
                                        {{freqList[2]}}회 사용됨
                                        {% endif %}
                                    </h1>
                                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center"
                                         style="padding-top: 50px;">
                                        {% if tagList[2] != "" %}
                                        <a class="btn btn-outline-light btn-lg px-4"
                                           href="https://www.instagram.com/explore/tags/{{tagList[2][1:]}}"
                                           target="_blank">Learn More</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="slide-control">
                    <div class="left_button">
                        <label for="slide04" class="left"></label>
                    </div>
                    <div class="right_button">
                        <label for="slide02" class="right"></label>
                    </div>
                    <div class="left_button">
                        <label for="slide01" class="left"></label>
                    </div>
                    <div class="right_button">
                        <label for="slide03" class="right"></label>
                    </div>
                    <div class="left_button">
                        <label for="slide02" class="left"></label>
                    </div>
                    <div class="right_button">
                        <label for="slide04" class="right"></label>
                    </div>
                    <div class="left_button">
                        <label for="slide03" class="left"></label>
                    </div>
                    <div class="right_button">
                        <label for="slide01" class="right"></label>
                    </div>
                </div>
            </ul>
            <ul class="slide-pagelist">
                <li><label for="slide01"></label></li>
                <li><label for="slide02"></label></li>
                <li><label for="slide03"></label></li>
                <li><label for="slide04"></label></li>
            </ul>
        </div>
    </div>

    <section class="py-2">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">@Relatives</h2>
                        <p class="lead fw-normal text-muted mb-5 fs-6">Click the profile / See more details</p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5" style="position:relative">
                    <div class="card h-100 shadow border-0">
                        <div class="profile_box">
                            <img class="card-img" src="{{url_for('static', filename = 'img/rainbow.png')}}" alt="..."/>
                            {% if imgList[4] != "" %}
                            <img src="{{url_for('static', filename = imgList[4])}}" style="width:90%" alt="..."
                                 class="rounded-circle text-center">
                            {% endif %}
                        </div>
                        <div class="card-body p-4">
                            <br>
                            {% if imgList[4] != "" %}
                            <a class="text-decoration-none link-dark stretched-link"
                               href="http://localhost:5000/view?ID={{idList[0][1:]}}">
                                <h3 class="card-title mb-3">{{idList[0]}}</h3>
                            </a>
                            <p class="card-text mb-0">{{id_infoList[0][1]}} | {{id_infoList[0][2]}}개의 포스트</p>
                            <p class="card-text mb-0">{{id_infoList[0][3]}} 팔로워 | {{id_infoList[0][4]}} 팔로잉</p>
                            {% else %}
                            <h3 class="card-title mb-3" style="text-align: center;">인물태그가 없습니다</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5" style="position:relative">
                    <div class="card h-100 shadow border-0">
                        <div class="profile_box">
                            <img class="card-img" src="{{url_for('static', filename='img/rainbow.png')}}" alt="..."/>
                            {% if imgList[5] != "" %}
                            <img src="{{url_for('static', filename = imgList[5])}}" style="width:90%" alt="..."
                                 class="rounded-circle text-center">
                            {% endif %}
                        </div>
                        <div class="card-body p-4">
                            <br>
                            {% if imgList[5] != "" %}
                            <a class="text-decoration-none link-dark stretched-link"
                               href="http://localhost:5000/view?ID={{idList[1][1:]}}">
                                <h3 class="card-title mb-3">{{idList[1]}}</h3>
                            </a>
                            <p class="card-text mb-0">{{id_infoList[1][1]}} | {{id_infoList[1][2]}}개의 포스트</p>
                            <p class="card-text mb-0">{{id_infoList[1][3]}} 팔로워 | {{id_infoList[1][4]}} 팔로잉</p>
                            {% else %}
                            <h3 class="card-title mb-3" style="text-align: center;">인물태그가 없습니다</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5" style="position:relative">
                    <div class="card h-100 shadow border-0">
                        <div class="profile_box">
                            <img class="card-img" src="{{url_for('static', filename = 'img/rainbow.png')}}" alt="..."/>
                            {% if imgList[6] != "" %}
                            <img src="{{url_for('static', filename = imgList[6])}}" style="width:90%" alt="..."
                                 class="rounded-circle text-center">
                            {% endif %}
                        </div>
                        <div class="card-body p-4">
                            <br>
                            {% if imgList[6] != "" %}
                            <a class="text-decoration-none link-dark stretched-link"
                               href="http://localhost:5000/view?ID={{idList[2][1:]}}">
                                <h3 class="card-title mb-3">{{idList[2]}}</h3>
                            </a>
                            <p class="card-text mb-0">{{id_infoList[2][1]}} | {{id_infoList[2][2]}}개의 포스트</p>
                            <p class="card-text mb-0">{{id_infoList[2][3]}} 팔로워 | {{id_infoList[2][4]}} 팔로잉</p>
                            {% else %}
                            <h3 class="card-title mb-3" style="text-align: center;">인물태그가 없습니다</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


            <!-- Call to action-->
            <aside class="bg-primary bg-dark rounded-3 p-4 p-sm-3.5 mt-5">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0">
                        <div class="fs-3 fw-bold text-white">Enter Instagram ID</div>
                        <!-- <div class="text-white-50">Sign up for our newsletter for the latest updates.</div> -->
                    </div>
                    <div class="ms-xl-4">
                        <form action="/view" method="GET">
                            <div class="input-group mb-2">
                                <input class="form-control" type="text" placeholder="Instagram ID"
                                       aria-describedby="button-newsletter" name="ID"/>
                                <button class="btn btn-outline-light" id="button-newsletter" type="submit">Search
                                </button>
                            </div>
                        </form>
                        <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div style="margin-left:5%;margin-right:5%;">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">#Whatsagram</div>
            </div>
            <div class="col-auto">
                <span class="text-white">KNU</span>
                <span class="text-white mx-1">&middot;</span>
                <span class="text-white">Final</span>
                <span class="text-white mx-1">&middot;</span>
                <span class="text-white fs-6">Opensource Teamproject</span>

            </div>
        </div>
    </div>
</footer>
<!-- Modal-->
<div class="modal">
    <div class="modal_body">
        <div class="title">
            <h1>CONTACT</h1>
        </div>
        <div style="height: 25px; width: 100%; border-top:1px solid   black;"></div>
        <!-- <div class="close-area">X</div> -->
        <div class="content">
            <p>이준섭&nbsp;&nbsp;&nbsp;010-5422-5232</p>
            <p>김진현&nbsp;&nbsp;&nbsp;010-2382-4633</p>
            <p>장보형&nbsp;&nbsp;&nbsp;010-8638-3597</p>
            <p>김태형&nbsp;&nbsp;&nbsp;010-9650-3445</p>
            <p style="font-size:15px"> 대구광역시&nbsp;북구&nbsp;대학로&nbsp;80&nbsp;경북대학교&nbsp;IT5호관
                <br>Kyungpook&nbsp;National&nbsp;Univ,&nbsp;Daehangno,&nbsp;Buk-gu,&nbsp;Daegu,&nbsp;80
            </p>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.addEventListener("scroll", function () {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    })

    const body = document.querySelector('body');
    const modal = document.querySelector('.modal');

    function modalBrowse() {
        modal.classList.toggle('show');

        if (modal.classList.contains('show')) {
            body.style.overflow = 'hidden';
        }
    }

    modal.addEventListener('click', (event) => {
        if (event.target === modal) {
            modal.classList.toggle('show');

            if (!modal.classList.contains('show')) {
                body.style.overflow = "auto";
            }
        }
    });
</script>
</body>

</html>
